[user]
	name = Olsenius
	email = andreas@olsenius.com

[alias]
  a = add -A
  ai = add -i
  co = checkout
  c = commit
  cm = commit -m
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  cp = cherry-pick
  ri = "!r() { git rebase -i HEAD~$1; }; r"
  r = reset
  r1 = reset HEAD^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  br = branch
  s = status
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  ll = log --stat --abbrev-commit
  sl = shortlog -sn
  fl = log -u
  find = !git ls-files | grep -i
  grep = grep -Ii
  x = !gitx --all
  ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
  al = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t=> \\2/' | sort

[color]
	ui = always
[apply]
	whitespace = fix
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:olsenius/"]
  insteadOf = "git://github.com/olsenius/"

[push]
	default = simple

