# PATH configuration
export PATH=$PATH:$HOME/.arkade/bin/
export PATH=$PATH:$HOME/bin/
export PATH=$PATH:$HOME/.bin/
export PATH=$PATH:$HOME/.local/bin/
export PATH=$PATH:/opt/homebrew/bin
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/.opencode/bin

{{ if ne .container true }}

. "$HOME/.cargo/env"

export PATH=$PATH:$(go env GOPATH)/bin
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export PATH="/Users/andreas/tmp/apache-maven-3.8.5/bin:$PATH"
export PATH="/opt/X11/bin:$PATH"
export PATH="/usr/local/bin:$PATH"
export JAVA_HOME=$(/usr/libexec/java_home)

# Add Visual Studio Code (code)
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
# Add Docker Desktop for Mac (docker)
export PATH="$PATH:/Applications/Docker.app/Contents/Resources/bin/"

export NPM_TOKEN={{ onepasswordRead "op://env/NPM_TOKEN/password" "my.1password.eu" }}
export NUGET_TOKEN={{ onepasswordRead "op://env/NUGET_TOKEN/password" "my.1password.eu" }}
export GITHUB_TOKEN={{ onepasswordRead "op://env/GITHUB_TOKEN/password" "my.1password.eu" }}
export TASKFILES_TOKEN={{ onepasswordRead "op://env/TASKFILES_TOKEN/password" "my.1password.eu" }}
export OCTOPUS_API_KEY={{ onepasswordRead "op://env/OCTOPUS_API_KEY/password" "my.1password.eu" }}
export ANTHROPIC_API_KEY={{ onepasswordRead "op://env/ANTHROPIC_API_KEY/password" "my.1password.eu" }}
export OPENAI_API_KEY={{ onepasswordRead "op://env/OPENAI_API_KEY/password" "my.1password.eu" }}

export SCALEAQCONTAINERREGISTRY_USERNAME={{ onepasswordRead "op://Private/scaleaqcontainerregistry/username" "scaleaq.1password.eu" }}
export SCALEAQCONTAINERREGISTRY_PASSWORD={{ onepasswordRead "op://Private/scaleaqcontainerregistry/password" "scaleaq.1password.eu" }}
export SCALEAQCONTAINERREGISTRY_URL={{ onepasswordRead "op://Private/scaleaqcontainerregistry/url" "scaleaq.1password.eu" }}

export SUBSCRIPTION_DEVELOPMENT=ace18c32-0aab-4091-bcc3-32ce1b516645
export SUBSCRIPTION_PRODUCTION=75c3a655-d005-4e4b-8716-e18571656da8
export SUBSCRIPTION_SANDBOX=563848be-f323-4c6d-97a4-3794923689fa
export TENANT_CUSTOMER_DEV=ef12312a-f5f1-4471-b287-f9dfb33d6fa0
export TENANT_CUSTOMER_STAGE=e2c14d95-903b-436d-881b-39aa9004ee04
export TENANT_CUSTOMER_PROD=c580d0a8-985f-4df4-a8d0-57c950f31f2a
export TENANT_STEINSVIKHUB=e7585620-c920-48d5-9137-9ecfc324506f
export TENANT_SCALEAQ_CLOUD=26ed0b7a-87dc-46b8-a903-4b332b6b6713
export TENANT_SCALEAQ_SOFTWARE=8dbb9992-e200-436e-990e-f1ed605a0e39
export TENANT_SCALEAQ=9bcad0a7-b9ab-4a75-b321-5c55972f0032

export WASMTIME_HOME="$HOME/.wasmtime"
export PATH="$WASMTIME_HOME/bin:$PATH"

{{ end }}

export TASK_X_REMOTE_TASKFILES=1